@import url("https://fonts.googleapis.com/css2?family=Forum&family=Josefin+Sans:ital@0;1&display=swap%27"); 

#root{
    height: 100vh;
}

.pageContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
